
li {
    display: inline;
    margin-right: 20px;
}
title {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
.center {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

.rollButton {
    width: 100px;
    height: auto; 
    cursor: pointer;
}
body {
    background-image: url(homeBackground.jpg);
}